@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.area{
    width:870px;
    margin:0 auto;
    
   
}
.bg-header{
    background-color: #562EFF;
}
header{
    display: flex;
    justify-content: space-between;
    height: 94px;
    
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo img{
    
width:40.42px;
Height :51px;
}
.logo h1{
    color:rgb(251, 251, 251);
    width:54px;
    height:36px;
    font-weight: 500;
    font-size: 24px;
    line-height:36px;
    margin-left: 15px;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 36px;
}
nav ul li a{
    color:white;
    width:48px;
    height: 24px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
}
nav img{
    Width:  51px;
    Height: 51px;
    clip-path: circle(50% at 50% 50%);

}
/* End header */

body{
    background-color: #9F9F9F;
}

.bg-player{
   
}

.container{
background-color: #FFFFFF;


}
.top-playres{
   
}

.top-playres h2{
    padding-top: 20px;
    margin-bottom: 10px;
    margin-left: 55px;
    font-size:24px;
    line-height: 36px;
    font-weight: 500;
    width: 127px;
    height: 36px;
    font-weight: 500;
    color: #562EFF;
    transition: all 1.5s ease-in;
}
.top-playres h2:hover{
    text-decoration: underline;
    text-decoration-color:blue;
    
}
.plyaers{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.player img{
    width: 56px;
    height: 56px;
    margin-top: 30px;
    margin-right: 10px; 
    transition:all .6s ease-in;
}
.player img:hover{
   
    transform: translateY(-10px);
}
.player h3{
  margin-top: 30px;
  width: 138px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    transition:all .6s ease-in;
}
.player h3:hover{
    text-decoration: underline;
    text-decoration-color:blue;
    color:blue;
    transform: translateY(-05px);
}
hr{
    width: 807px;
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-left: 30px;

}



.top-blog{}
.title-section{
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color:#562EFF;
    transition:all .5s ease-in;
}
.title-section:hover{
    color:#451cf8;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-bottom: 26px;
}
.blog img{width: 224px;
    height: 127px;}
.blog h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    margin-left: 16px;
}
.blog a{
    text-decoration: none;
    color: #562EFF;
    width: 125px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
}
.spacil{
    color:#9F9F9F;

}
.top-course{}
.title-course{
    /* margin-left: 40px; */
    width: 157px;
    height: 36px;
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    line-height: 36px;
    margin: 21px 0px 24px 50px;

}
.all-courses{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 70px;
}
.course{
   
  
}
.course img{
    width: 224px;
    height: 104px;
}

.course-info{
   
}
.course-info h3{
    font-weight: 500;
    font-size: 20.0336px;
    line-height: 23px;
   margin:17px 0px 19px 0px
}
.course-info a{
    font-size: 14.6913px;
    line-height: 17px;
    color: #ED6B4F;
    text-decoration: none;
}
.icon{color: #FFC014;}
.icon img{
   width: 74.76px;
    height:11.81px;
}
.fa-clock{
    color: #FF4A60
    
    ;
}
.bad-star{
    color: gray;
}
footer{
    background-color: rgb(9, 55, 56);
    text-align: center;
    font-size: 22px;
    padding: 15px 0px;
    color:white;
}